# Day 2 – Baseline Model Training

This notebook builds a simple baseline model using the provided dataset.
The goal is to establish a reference performance before applying improvements.

In [7]:
import os
os.getcwd(), os.listdir(".."), os.listdir("../data")

('c:\\Users\\Abdullkarim\\OneDrive\\المستندات\\GitHub\\work-data-week3\\notebooks',
 ['.git',
  '.gitattributes',
  '.venv',
  'data',
  'notebooks',
  'outputs',
  'README.md',
  'requirements.txt'],
 ['dataset.csv'])

## Data Loading
Load the dataset from the data folder and preview the first rows.

In [8]:
import pandas as pd

df = pd.read_csv("../data/dataset.csv")
df.head()

   age  salary department
0   25    5000         IT
1   30    7000         HR
2   28    6500    Finance