# Day 2 – Baseline Model Training

This notebook builds a simple baseline model using the provided dataset.
The goal is to establish a reference performance before applying improvements.

In [7]:
import os
os.getcwd(), os.listdir(".."), os.listdir("../data")

('c:\\Users\\Abdullkarim\\OneDrive\\المستندات\\GitHub\\work-data-week3\\notebooks',
 ['.git',
  '.gitattributes',
  '.venv',
  'data',
  'notebooks',
  'outputs',
  'README.md',
  'requirements.txt'],
 ['dataset.csv'])

## Data Loading
Load the dataset from the data folder and preview the first rows.

In [8]:
import pandas as pd

df = pd.read_csv("../data/dataset.csv")
df.head()

   age  salary department
0   25    5000         IT
1   30    7000         HR
2   28    6500    Finance

## Dataset Overview
Check dataset shape, columns, and basic information.

In [9]:
df.shape

(3, 3)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   age         3 non-null      int64
 1   salary      3 non-null      int64
 2   department  3 non-null      object
dtypes: int64(2), object(1)
memory usage: 204.0+ bytes

## Feature Selection
Define the input features (X) and target variable (y).

In [11]:
X = df[["age"]]
y = df["salary"]
X.head(), y.head()

(   age
 0   25
 1   30
 2   28,
 0    5000
 1    7000
 2    6500
 Name: salary, dtype: int64)

## Train-Test Split
Split the data into training and testing sets.

In [13]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)

X_train.shape, X_test.shape

((2, 1), (1, 1))

## Baseline Model Training
Train a simple Linear Regression model as a baseline.

In [14]:
from sklearn.linear_model import LinearRegression

model = LinearRegression()
model.fit(X_train, y_train)

model.coef_, model.intercept_

(array([250.]), np.float64(-499.99999999999727))

## Model Evaluation
Evaluate the baseline model using MAE and R2 score.

In [15]:
from sklearn.metrics import mean_absolute_error, r2_score

y_pred = model.predict(X_test)

mae = mean_absolute_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

mae, r2

c:\Users\Abdullkarim\OneDrive\المستندات\GitHub\work-data-week3\.venv\Lib\site-packages\sklearn\metrics\_regression.py:1288: UndefinedMetricWarning: R^2 score is not well-defined with less than two samples.
  warnings.warn(msg, UndefinedMetricWarning)

(750.0000000000009, nan)