In [2]:
import pandas as pd

df = pd.read_csv("../data/dataset.csv")
df.head()

   age  salary department
0   25    5000         IT
1   30    7000         HR
2   28    6500    Finance

### Data Loading
In this step, the dataset is loaded from the data folder and previewed.

In [6]:
df.shape
df.columns

Index(['age', 'salary', 'department'], dtype='object')

### Dataset Overview
This section shows the dataset dimensions and column names.